<!-- Contact Section -->
<section id="contact" class="container contact-section text-center">
  <h2>¡Llamanos y nosotros te llevamos!</h2>

  <div class="row">

    <div class="col-lg-3 col-lg-offset-1">
      <div class="left-contact">
        <%= image_tag '04_ICON_telefono.png', alt: 'Telefono', size: '70x70' %>
        <!--<i class="fa fa-phone fa-5x pull-left"></i>-->
        <div class="center-block">
          <!--Contáctanos<br>-->
          <strong>(021) 509 581</strong><br>
          <a href="mailto:tuagencia@viajemania.com.py">tuagencia@viajemania.com.py</a><br>
          <a href="mailto:viajemaniapy@gmail.com">viajemaniapy@gmail.com</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="middle-contact">
        <!--<i class="fa fa-map-marker fa-5x pull-left"></i>-->
        <%= image_tag '04_ICON_direccion.png', alt: 'Direccion', size: '50x75' %>
        <div class="text-center">
          Barrio San Pablo<br>
          Quebracho 3641 esq. Araucanos<br>
          <strong>Asunción - Paraguay</strong>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="right-contact">
        <div class="text-center">
          Seguinos en:<br>
        </div>
        <div>
          <%= link_to image_tag('05_ICON_facebook.png', alt: 'Facebook', size: '50x50', class: 'social-icon'), 'https://www.facebook.com/pages/Viaje-Mania/579894448743881', target: '_blank' %>
          <%= link_to image_tag('06_ICON_Instagram.png', alt: 'Instagram', size: '50x50', class: 'social-icon'), 'https://instagram.com/viajemania_', target: '_blank' %>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Map Section -->
<!--<div id="map-canvas"></div>-->
<!--<div id="map"></div>-->
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY4SBhYmg67mC6-e8P6XXzRYLSUCbbI40">-->
<section id="canvas1">
  <iframe id="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Quebracho,+Asuncion,+Central,+Paraguay&key=AIzaSyCY4SBhYmg67mC6-e8P6XXzRYLSUCbbI40"></iframe>
</section>

<% content_for :javascript do %>
    <script>
        $(document).ready(function () {

            // you want to enable the pointer events only on click;

            $('#map').addClass('scrolloff'); // set the pointer events to none on doc ready
            $('#canvas1').on('click', function () {
                $('#map').removeClass('scrolloff'); // set the pointer events true on click
            });

            // you want to disable pointer events when the mouse leave the canvas area;

            $("#map").mouseleave(function () {
                $('#map').addClass('scrolloff'); // set the pointer events to none when mouse leaves the map area
            });
        });
    </script>
<% end %>