<!-- Contact Section -->
<section id="contact" class="container content-section text-center contact-section">
  <h2>¡Llamanos y nosotros te llevamos!</h2>

  <div class="row">

    <div class="col-lg-3 col-lg-offset-1">
      <div class="left-contact">
        <%= image_tag '04_ICON_telefono.png', alt: 'Telefono', size: '70x70' %>
        <!--<i class="fa fa-phone fa-5x pull-left"></i>-->
        <div class="center-block">
          Contáctanos<br>
          <strong>(021) 509 581</strong><br>
          <a href="mailto:viajemania@gmail.com">viajemania@gmail.com</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="middle-contact">
        <!--<i class="fa fa-map-marker fa-5x pull-left"></i>-->
        <%= image_tag '04_ICON_direccion.png', alt: 'Direccion', size: '50x75' %>
        <div class="text-center">
          Barrio San Pablo<br>
          Quebracho 3641 esq. Araucanos<br>
          <strong>Asunción - Paraguay</strong>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="right-contact">
        <div class="text-center">
          Seguinos en:<br>
        </div>
        <div>
          <%= link_to image_tag('05_ICON_facebook.png', alt: 'Facebook', size: '50x50'), '#' %>
          <%= link_to image_tag('06_ICON_Instagram.png', alt: 'Instagram', size: '50x50'), '#' %>
          <!--<i class="fa fa-facebook  fa-3x fa-fw"></i>-->
          <!--<i class="fa fa-instagram fa-3x fa-fw"></i>-->
        </div>
      </div>
    </div>
  </div>
</section>