<%= image_tag '02_LogoVIAJEMANIA_nosotros.png', class: 'img-responsive center-block', width: '350px' %>
<div class="about-text">
  <p>Para obtener información sobre los paquetes de esta sección, por favor llámenos al
    <strong>(021) 509 581</strong>.</p>

  <p>También puede contactarnos a los correos o en las redes sociales.</p>
</div>