<%= render 'landing/slider' %>

<!-- About Section -->
<section id="content" class="container content-section text-center about-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3">
      <%= image_tag '02_LogoVIAJEMANIA_nosotros.png', class: 'img-responsive center-block' %>
      <div class="about-text">
        <p>Somos una empresa dinámica y joven dedicada a turismo interno y emisivo desde el año 2013 gracias a la
          iniciativa de dos jóvenes emprendedoras egresadas de la carrera Gestión de la Hospitalidad con énfasis en
          Turismo de la Universidad Nacional de Asunción, hoy socias propietarias de la sociedad.</p>

        <p>En sus inicios Viaje Mania se dedicaba exclusivamente a operar el mercado interno ofreciendo destinos como:
          Encarnación, Misiones Jesuíticas, Ciudad del Este y el polo de desarrollo de Itaipú, Guairá y la espectacular
          cordillera del Ybytyruzú, Chaco, Asunción, entre otros, con lo cual se posicionó en el mercado nacional.
          Paraguay tiene tantos atractivos como historias que contar, por lo que invitamos a conocer la tierra del Ka'a
          y el Tereré, de la chipa, las guaranias y el idioma guaraní.</p>

        <p>Hoy en día, además de turismo receptivo, la empresa cuenta con área emisiva proveyendo al cliente de paquetes
          turísticos a todos los destinos del mundo entre los que se destacan: El Caribe, Estados Unidos, Europa, Asia y
          América.</p>

        <h1>MISIÓN</h1>

        <p>Proveer a nuestros clientes de servicios de primer nivel en el área de turismo a través de la creación y
          venta
          de paquetes</p>

        <h1>VISIÓN</h1>

        <p>Crear experiencias que enriquezcan la vida de las personas a través de la organización y desarrollo de viajes
          que satisfagan plenamente sus expectativas.</p>

      </div>
    </div>
  </div>
</section>