.carousel-inner {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

@-moz-document url-prefix() {
  .carousel-inner > .item > img {
    width: 100%;
    max-width: 100%;
  }
}

//.carousel-inner > .item > img {
//  width: 100%;
//  max-width: 100%;
//}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .carousel-inner > .item > img {
    max-width: 100%;
  }
}

.carousel-control {
  position: absolute;
  top: 50%; /* pushes the icon in the middle of the height */
  z-index: 5;
  display: inline-block;
  background-image: none !important;
  bottom: inherit;
}

@media screen and (max-width: 480px) {
  .carousel-control {
    img {
      max-width: 30px !important;
    }
  }
}

.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .9s;
  -o-transition: opacity ease-in-out .9s;
  -webkit-transition: opacity ease-in-out .9s;
  transition: opacity ease-in-out .9s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .9s;
  -o-transition: opacity ease-in-out .9s;
  -webkit-transition: opacity ease-in-out .9s;
  transition: opacity ease-in-out .9s;
  z-index:2;
}