.carousel-inner {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.carousel-indicators li {
  background-color: #669966;
}
.carousel-indicators .active {
  background-color: #FF7600;
}